
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:wght@400;700&family=Merriweather:ital@1&display=swap');

.home-title{
    font-family: "Merriweather" , Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#logo_link{
    padding-top: 5px;
}
#content {
    max-width: 1600px;   
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white ;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.buttom-box {
    text-align: center;
}

main section{
    text-align: center;
}

.background {
    height: 725px;
}
body {
    background-color: #CBF3F0;
    font-family: "Libre Baskerville", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2EC4B6;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
}
nav a:hover {
    background-color: #396E94;
    color: black ;
}
.book:hover, .join:hover { 
    background-color: #396E94;
    color: black 
}
#background {
    background-color: #0d0e0c
}
.msg {
    background-color: #2EC4B6;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #334E58;
    color: #758BFD;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}
.home-title{
    color: #1a0d0d;
}
h4 {
    color: #1a0d0d;
}
.book, .join{
    color: #b91d24;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg h2{
    color: white;
    font-family: "Merriweather" , Arial, sans-serif
}
.msg p{
    color: #1a0d0d;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #758BFD;
    text-decoration: none;
}
footer a:hover{
    color: #396E94;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
/* teacher if i write 100 px my image will be very small as
the icon, that's why I wrote 1000px*/
#hero-img {
    width: 1000px;
}
footer p a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
main section img{
    box-sizing: border-box;
}