#content {
    max-width: 1600px;   
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white ;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.buttom-box {
    text-align: center;
}

main section{
    text-align: center;
}

.background {
    height: 725px;
}
body {
    background-color: #CBF3F0
}

header {
    background-color: #2EC4B6;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
}
nav a:hover {
    background-color: #396E94;
    color: black ;
}
.book:hover, .join:hover { 
    background-color: #396E94;
    color: black 
}
#background {
    background-color: #0d0e0c
}
.msg {
    background-color: #2EC4B6
}
footer {
    background-color: #334E58;
    color: #758BFD 
}
.home-title{
    color: #1a0d0d;
}
h4 {
    color: #1a0d0d;
}
.book, .join{
    color: #b91d24;
    text-decoration: none;
}
.msg h2{
    color: white;
}
.msg p{
    color: #1a0d0d;
}
footer a{
    color: #758BFD;
    text-decoration: none;
}
footer a:hover{
    color: #396E94;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
/* teacher if i write 100 px my image will be very small as
the icon, that's why I wrote 1000px*/
#hero-img {
    width: 1000px;
}
footer p a:hover{
    text-decoration: underline;
}