header{   
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #427aa1;    
}
#logo{
    width: 40px;
    z-index: 1;

}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    z-index: 2;
    
    
    
}   
nav a{
    text-decoration: none;
    color: aliceblue;
}
nav a:nth-of-type(1){
    background-color: #e6c345;
    padding: 10px;
    border-radius: 5%;
    color: black;
    
}
nav:hover a {
    background-color: transparent;
    color: white;
}
nav a:hover{
    background-color: #e6c345;
    padding: 10px;
    color: black;
    border-radius: 5%
}










/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
  }
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.accordion::after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}













.footer-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column: 2/9;
    background-color: #089dd9;
    color: black;
    
    margin-top: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #427aa1 1px;
}