*{
    font-family: serif;
    max-width: 1750px;
    margin: 0 auto;
    
}
header{   
    padding: 4px;
    display: grid;
    grid-template-columns: 30% 40% 30%;   
    font-family: serif; 
    background-color: #427aa1;
    border-bottom: white solid 1px;
    
}
#logo{
    width: 40px;
    z-index: 1;

}
.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    align-items: center;
    z-index: 2;  
}   
.nav-header a{
    text-decoration: none;
    color: aliceblue;
}
.nav-header a:nth-of-type(2){
    background-color: #e6c345;
    padding: 2px;
    border-radius: 5%;
    color: black;
    
}
.gallery-container{
    grid-column: 1/18;
    width: 100%;
    text-align: center;
    background-color: #427aa1;
    height: 250px;
    
}
.gallery-images{
    margin: 0.5px 2px;
    width: 173px;
    margin-top: 3px;
}

.nav-header:hover a {
    background-color: transparent;
    color: white;
}
.nav-header a:hover{
    background-color: #e6c345;
    padding: 2px;
    color: black;
    border-radius: 5%;
}
.tours-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    align-items: center;
    z-index: 2;
    background-color: white;
    ;
    border-bottom: solid black 1px ;
    border-top: solid black 1px ;
    grid-column: 1/ -1;
    grid-row-start: 3;
    height: 40px;
    margin-top:40px;
    
}
.tours-menu a{
    color: #000;
    text-decoration: none;
}
.tours-menu a:hover{
    color: #967500;
}
.daily-tour-grid{
    display: grid;
    grid-template-columns: repeat(17, 5.882%);
    grid-template-rows: repeat(41, 100px);
}
#section1{
    grid-area: 4/6/5/13;
    color: black;
    font-size: 21px;
    margin-top: 10px;
    text-align: left;

}
.daily-images{
    grid-column-start: 8;
    width: 290px;
    margin-top: 10px;
    
}
.tintoreras-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 4/ span 2;
    margin-top: 60px; 
    height:103%;
    margin-left: 10px;
}
.tunnels-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 7/ span 2;
    margin-top: 10px;
    height: 112%;
    margin-left: 10px;
    ;
}
.volcano-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 10/ span 3;
    margin-top: -15px;
    height: 75%;
    margin-left: 10px;
}
#section2{
    grid-area: 13/8/15/13;
    color: black;
    font-size: 21px;
    margin-top: -25px;
    text-align: left;
    
}
.t360-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 13/ span 2;
    margin-top: 40px;
    margin-left: 10px;
    height: 100%;
}
.junco-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 16/ span 3;
    margin-top: -10px;
    margin-left: 10px;
    height: 82%;
}
#section3{
    grid-area: 19/6/21/13;
    color: black;
    font-size: 21px;
    text-align: left;
    
    
}
.bay-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    height: 82%;
    grid-row: 19/ span 3;
    margin-left: 10px;
    margin-top: 45px;
}
.highland{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 22/ span 3;
    margin-top: 25px   ;
    height: 82%;
    margin-top: 40px;
    margin-left: 10px;
}
#section4{
    grid-area: 25/8/29/13;
    color: black;
    font-size: 21px;
    margin-top: 40px;
    margin-left: 10px;
}
.bartolome-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 26/ span 2;
    margin-top: -10px;
    height: 102%;
    margin-left: 10px;
}
.seymour-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    height: 89%;
    grid-row: 28/ span 3;
    margin-left: 10px;
    margin-top: 45px;
}
.pinzon-day{
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 31/ span 3;
    margin-top: 60px;
    height: 88%;
    margin-left: 10px;
}
.santa-fe-day{
    padding: 15px 15px; 
    grid-column: 12/span 6;
    width: 85%;
    height: 75%;
    grid-row: 35/ span 3;
    margin-left: 10px;
    margin-top: -25px;
    
}
.daphne-day{   
    padding: 15px 15px;
    grid-column: 12/span 6;
    width: 85%;
    grid-row: 38/ span 3;
    height: 88%;
    margin-left: 10px;
    margin-top: -49px;
    
}
.is1{
    grid-row-start: 5;
    margin-top: -40px;
    height: 235px;
}
.is2{
    grid-row-start: 7;
    height: 255px;

}
.is3{
    grid-row-start: 10;
    margin-top: -15px;
    height: 255px;
}
.sc1{
    grid-row-start: 13;
    margin-top: 40px;
    height: 230px;
}
.sc2{
    grid-row-start: 16;
    margin-top: -10px;
}
.sp1{
    grid-row-start: 20;
    margin-top: -52px;
}
.sp2{
    grid-row-start: 22;
    margin-top: 43px;
}
.df1{
    grid-row-start: 26 ;
    margin-top: -10px;
    height: 235px;
}
.df2{
    grid-row-start: 28 ;
    margin-top: 55px;
}.df3{
    grid-row-start: 35 ;
    margin-top: -25px;
    height: 255px;
}.df4{
    grid-row-start: 32 ;
    margin-top: -40px;
}.df5{
    grid-row-start: 37 ;
    margin-top: 55px;
}
#publicity{
    grid-area: 9/2/13/6;
    margin-top: 20px;
    margin-left: 30px;
    position: relative;;
}
#publicity img{
    width: 325px;
}
#publicity h2:nth-of-type(1){
    position: absolute;
    background-color: #e6c345;
    padding: 0px 130.5px;
}
#publicity p:nth-of-type(1){
    position: absolute;
    margin-top: -110px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(230, 227, 227);
}
#publicity p:nth-of-type(2){
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(233, 233, 233);
    font-weight: bold;
    margin-top: -80px;
}
#publicity h2:nth-of-type(2){
    position: absolute;
    margin-top: -90px;
    right: -9%;
    border: solid black 3px;
    background-color: #e6c345;
    padding: 25px 15px;
    border-radius: 50%;
    font-size: 30px;
}
#publicity h2:nth-of-type(2):hover{
    background-color: #fac60c;
}
.nostyle{
    text-decoration: none;
    color: #000;
}




.about-us{
    grid-column-start: 2;
    grid-row-start: 4 ;
    width: 350px;
    height: 410px;
    border: solid black 1px;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
    margin-top: 30px;
}

.about-us h1{
    border-bottom: solid black 1px;
    display: inline;
    font-size: 21px;
}
.about-us p{
    text-align: justify;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-us li{
    margin: 0;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}
.tour-subpage h3{
    font-size: 19px;
    margin-top: -2px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.tour-subpage h3:hover{
    text-decoration:underline;
}
.tour-subpage{
    text-decoration: none;
}
.summary{
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
    ;
    border-bottom: #000 solid 1px;
}
.info-tour{
    margin-top: 5px;
    font-size: 17px;
    text-align: justify;
}
.card-tour{
    background-color: rgb(185, 206, 252);
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}
.book{
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: #e6c345;
    padding: 6px;
    
    border-radius: 20%;
}
.buttom-box{
    position: absolute;
    margin-top: 24px;
    margin-left: 25px ;
}
.buttom-box:hover{
    opacity: 85%;
}
.subpage-buttom{
    text-decoration: none;
    position: absolute;
    margin-left: 250px;
    width: 105px;
    margin-top: -25px;
    text-align: center;
}
.subpage-buttom:hover{
    opacity: 85%;
}
.subpage-buttom p{
    font-size: 18px;
    color: black;
    background-color: #e6c345;
    padding: 5px;
    border-radius: 12%;
}
.price{
    margin-left: 80px;
    border-bottom: black solid 1px;
    display: block;
    font-weight: bold;
    margin-right: 210px;
    margin-top: 26px;
    font-size: 14px;
}


.footer-grid{
    display: grid;
    background-color: #427aa1;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black 1px;
    padding: 10px 0;
}
.footer-grid a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.footer-grid h2{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.follow-icons img{
    width: 40px;
}
.footer-grid a:hover{
    color: black;
}
.footer-grid img:hover{
    opacity: 80%;
}