*{
    font-family: serif;
    max-width: 1700px;
    
}
header{   
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 40% 30%;   
    font-family: serif; 
    background-color: #427aa1;
    border-bottom: white solid 1px;
    
}
#logo{
    width: 40px;
    z-index: 1;

}
.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    z-index: 2;  
}   
.nav-header a{
    text-decoration: none;
    color: aliceblue;
}
.nav-header a:nth-of-type(2){
    background-color: #e6c345;
    padding: 10px;
    border-radius: 5%;
    color: black;
    
}
.gallery-container{
    grid-column: 1/18;
    text-align: center;
    background-color: #427aa1;
    height: 350px;
    padding-right: 21px;
}
.gallery-images{
    margin: 2px 5px;
}

.nav-header:hover a {
    background-color: transparent;
    color: white;
}
.nav-header a:hover{
    background-color: #e6c345;
    padding: 10px;
    color: black;
    border-radius: 5%;
}
.tours-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    z-index: 2;
    background-color: white;
    ;
    border-bottom: solid black 1px ;
    border-top: solid black 1px ;
    grid-column: 1/ -1;
    grid-row-start: 4;
    height: 50px;
    margin-top: 10px;
}
.tours-menu a{
    color: #000;
    text-decoration: none;
}
.tours-menu a:hover{
    color: #967500;
}
.daily-tour-grid{
    display: grid;
    grid-template-columns: repeat(17, 5.882%);
    grid-template-rows: repeat(58, 100px);
}
#section1{
    grid-area: 5/8/6/13;
    color: black;
    font-size: 30px;
    margin-top: 10px

}
.daily-images{
    grid-column-start: 8;
    width: 400px;
    margin-top: 10px;
    
}
.tintoreras-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 6/ span 4;
    margin-top: -15px; 
    height: 74%;
}
.tunnels-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 9/ span 4;
    margin-top: 40px;
    height: 87%
    ;
}
.volcano-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 13/ span 4;
    margin-top: 47px;
    height: 88%
    ;
}
#section2{
    grid-area: 18/8/19/13;
    color: black;
    font-size: 30px;
    margin-top: -20px;
}
.t360-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 18/ span 4;
    margin-top: 75px
    ;
}
.junco-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 22/ span 4;
    margin-top: 25px
    ;
}
#section3{
    grid-area: 26/8/27/13;
    color: black;
    font-size: 30px;
    z-index: 99;
    margin-top: 30px;
}
.bay-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 27/ span 4;
    ;
}
.highland{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 31/ span 4;
    margin-top: 25px   ;
    height: 92%;
}
#section4{
    grid-area: 36/8/36/13;
    color: black;
    font-size: 30px;
    z-index: 99;
    margin-top: -35px;
}
.bartolome-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 36/ span 4;
    margin-top: 25px;
    height: 80%;
}
.seymour-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 40/ span 4;
    ;
}
.santa-fe-day{
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 44/ span 4;
    margin-top: 20px;
    height: 80%;
}
.pinzon-day{
    padding: 15px 15px; 
    grid-column: 12/span 5;
    grid-row: 48/ span 4;
    
}
.daphne-day{   
    padding: 15px 15px;
    grid-column: 12/span 5;
    grid-row: 52/ span 4;
    margin-top: 25px;
    height: 100%;
    
}
.is1{
    grid-row-start: 6;
    margin-top: -18px;
}
.is2{
    grid-row-start: 9;
    margin-top: 45px;

}
.is3{
    grid-row-start: 13;
    margin-top: 50px;
}
.sc1{
    grid-row-start: 19;
    margin-top: -30px;
}
.sc2{
    grid-row-start: 22;
    margin-top: 25px;
}
.sp1{
    grid-row-start: 27;
    margin-top: -1px;
}
.sp2{
    grid-row-start: 31;
    margin-top: 40px;
}
.df1{
    grid-row-start: 36 ;
    margin-top: 25px;
}
.df2{
    grid-row-start: 40 ;
}.df3{
    grid-row-start: 44 ;
}.df4{
    grid-row-start: 48 ;
    margin-top: -2px;
}.df5{
    grid-row-start: 52 ;
    margin-top: 30px;
}
#publicity{
    grid-area: 12/2/15/6;
    margin-left: 25px;
    position: relative;;
}
#publicity img{
    width: 400px;
}
#publicity h2:nth-of-type(1){
    position: absolute;
    background-color: #e6c345;
    padding: 0px 168px;
}
#publicity p:nth-of-type(1){
    position: absolute;
    margin-top: -150px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(230, 227, 227);
}
#publicity p:nth-of-type(2){
    position: absolute;
    font-size: 25px;
    margin-left: 10px;
    color: rgb(233, 233, 233);
    font-weight: bold;
    margin-top: -100px;
}
#publicity h2:nth-of-type(2){
    position: absolute;
    margin-top: -125px;
    right: -8%;
    border: solid black 3px;
    background-color: #e6c345;
    padding: 35px 25px;
    border-radius: 50%;
    font-size: 35px;
}
#publicity h2:nth-of-type(2):hover{
    background-color: #fac60c;
}
.nostyle{
    text-decoration: none;
    color: #000;
}




.about-us{
    grid-column-start: 2;
    grid-row-start: 5 ;
    width: 450px;
    height: 545px;
    border: solid black 1px;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
    margin-top: 40px;
}

.about-us h1{
    border-bottom: solid black 1px;
    display: inline;
}
.about-us p{
    text-align: justify;
    font-size: 22px;
}
.about-us li{
    margin: 0;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}
.tour-subpage h3{
    font-size: 25px;
    margin-top: -2px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.tour-subpage h3:hover{
    text-decoration:underline;
}
.tour-subpage{
    text-decoration: none;
}
.summary{
    text-align: center;
    font-size: 18px;
    margin-top: -20px;
    border-bottom: #000 solid 1px;
}
.info-tour{
    font-size: 22px;
    text-align: justify;
}
.card-tour{
    background-color: rgb(185, 206, 252);
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}
.book{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: #e6c345;
    padding: 8px;
    border: solid black 1px;
    border-radius: 20%;
}
.buttom-box{
    position: absolute;
}
.buttom-box:hover{
    opacity: 85%;
}
.subpage-buttom{
    text-decoration: none;
    position: absolute;
    margin-left: 50px;
    width: 110px;
    margin-top: -26px;
}
.subpage-buttom:hover{
    opacity: 85%;
}
.subpage-buttom p{
    font-size: 20px;
    color: black;
    background-color: #e6c345;
    padding: 5px;
    border: solid black 1px;
    border-radius: 12%;
}
.price{
    margin-left: 70px;
    border-bottom: black solid 1px;
    display: inline;
    font-weight: bold;
}


.footer-grid{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column: 2/-1;
    background-color: #427aa1;
    color: black;
    font-weight: bold;
    margin-top: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black 1px;
}
.footer-grid a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer-grid h2{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer-grid a:hover{
    color: black;
}
.footer-grid img:hover{
    opacity: 80%;
}