/* Style for the home page */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    font-family: serif;
}
#content_home{
    max-width: 1700px;
    margin: 0 auto;
}
#hero {
    display: grid;
    width: 1700px;
    grid-template-columns: 1700px;
    grid-template-rows: 100vh;
    margin-top: -100px;
    font-family: serif;
}
#hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-int{
    grid-column-start: 1;
    grid-row-start: 1 ;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px; 
    height: 110%; 
    box-sizing: border-box;
}
.hero-int h1:nth-of-type(1){
    font-size: 44px ;
    color: #acd7f5;
    margin: 0;
    margin-left: 25px;
}
.hero-int h1:nth-of-type(2){
    font-size: 70px;
    color: #facc27;
    margin: 0;
    margin-left: 25px;
}
.hero-int h1:nth-of-type(3){
    font-size: 44px;
    color: #acd7f5;
    margin: 0;
    margin-left: 25px;
}
.hero-int p{
    width: 390px;
    font-size: 21px;
    color: white;
    margin-left: 25px;
}
.buttom-box-1{
    background-color: #facc27;
    margin-left: 25px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 15px;
}
.buttom-box-1 a{
    font-size: 20px;
}


.form-container {
    position: fixed;
    top: 32%;
    left: 100%; 
    transform: translate(-40%, -50%);
    background-color: #427aa1;
    padding: 15px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    display: flex; 
    align-items: center;
    width: 350px;
    max-width: 250px;
    margin: 0 auto;
    z-index: 19;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-right: 10px; 
    font-size: 15px; 
    color: white 
}
label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #e6c345;
    color: black;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}
textarea{
    height: 70px;
}
header{    
    padding: 4px;
    display: grid;
    grid-template-columns: 30% 40% 30%;   
    font-family: serif; 
}

#logo{
    width: 40px;
    z-index: 1;

}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    align-items: center;
    z-index: 2;
   
    
    
}   
nav a{
    text-decoration: none;
    color: aliceblue;
}
nav a:nth-of-type(1){
    background-color: #e6c345;
    padding: 2px;
    border-radius: 5%;
    color: black;
    
}
nav:hover a {
    background-color: transparent;
    color: white;
}
nav a:hover{
    background-color: #e6c345;
    padding: 2px;
    color: black;
    border-radius: 5%;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 100vh 30px 100vh 100vh repeat(1, 100px);
}
.second-background{
    background-color: #0d6b91;
    grid-column: 1/-1;
    grid-row: 3/4;
}
* {
    box-sizing:border-box;
  }
  
.container {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 580px;
    max-width: 700px;
    max-height: 600px;
    margin-top: 75px;
    margin-left: 90px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: 5px;
  padding: 16px;
  padding-right: 0;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 52%;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 8%;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.gallery-title{
    grid-column: 6/10;
    grid-row-start: 2;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: -20px;
    text-align: center;
    font-family: serif;
    text-align: right;
}
.sect-gallery h1{
    font-size: 43px ;
    color: #ffce1c;
    margin: 0;
    
}
.sect-gallery h2{
    font-size: 35px;
    color: #badffa;
    margin: 0;
    margin-left: 25px;
}
.sect-gallery p{
    font-size: 20px;
    color: white;
}
.images-icon{
    margin-right: 120px;
}
.images-icon img{
    width: 40px;
}
.popup {
  display: none;
  position: fixed;
  top: 70%;
  left: 20%;
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.popup-content {
  text-align: center;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  background-color: rgb(187, 37, 37);
  padding: 0 10px;
}
.close:hover{
    background-color: red;
}

.refconditions {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 40px;
}
  
.refconditions:hover {
   text-decoration: underline;
}
.background3{
    background-color: #0d6b91;
    grid-area: 1/1/3/-1;
}
.tours-title{
    grid-row: 1/2 ;
    margin-top: 90px;
    z-index: 2;
    grid-column: 1/6;
    text-align: center;
    margin-left: 20px;
    
}
.tours-title h1{
    font-size: 60px;
    color: #ffce1c;
    margin: 0;
    margin-left: 30px;
}
.tours-title h3{
    font-size: 40px ;
    color: #acd7f5;
    margin: 0;
    text-align: left;
    margin-left: 100px;
    margin-bottom: -20px;
}
.tours-title p{
    width: 500px;
    margin-left: 80px;
    text-align: justify;
    font-size: 20px;
    color: white;
}
.comment-user{
    border: #f2f2f204 solid 1px;
    margin-left: 75px ;
    width: 520px;
    background-color: #8ec0e4;
    height: 160px;
    border-radius: 2%;
}
.comment-user h3{
    margin-left: 5px;
    font-size: 20px;
    color: #000;
    border-bottom: solid black 1px ;
}
.comment-user p{
    margin-left: 5px;
    margin-top: 25px;
    font-size: 17px;
    color: #000;
}
.star::before {
    content: "\2605"; 
    color: gold; 
    margin: 0;
    display: absolute;
    overflow: hidden;
  }
.buttom-box-2{
    background-color: #facc27;
    padding: 4px;
    border-radius: 10px;
    display: inline;
    float: left;
    margin-left: 100px;
}
.buttom-box-2 a{
    font-size: 18px;
}
.buttom-box-3{
    position: absolute;
    margin-left: 200px;
    background-color: #acd7f5;
    padding: 2px 2px;
    border-radius: 10px;
    font-size: 25px;
    margin-top: -2px;
    text-align: center;
}
.buttom-box-3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.card-container{
    grid-column: 5/span 3 ;
    grid-row: 1/ span 1;
    display: flex;
    left: 45%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 600px;
    justify-content: center;
    margin-top: 25px;
    
}



.background-bartolome{
    background-color: #427aa1;
    padding: 15px 15px;
    border: solid black 1px;
    border-radius: 2%;
    width: 340px;
    height: 500px;
    margin-top: 12%;
    right: 35%;
    position: absolute;

    opacity: 0.1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.background-360{
    background-color: #427aa1;
    padding: 15px 15px;
    border: solid black 1px;
    border-radius: 2%;
    right: 29%;
    width: 350px;
    height: 500px;
    margin-top: 12%;
    position: absolute;
    opacity: 0.1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    
    
}
.background-isabela{
    background-color: #427aa1;
    padding: 15px 15px;
    border: solid black 1px;
    border-radius: 2%;
    width: 350px;
    height: 500px;
    margin-top: 12%;
    right: 19%;
    position: absolute;

    opacity: 0.1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.background-fe{
    background-color: #427aa1;
    padding: 15px 15px;
    border: solid black 1px;
    border-radius: 2%;
    width: 350px;
    height: 500px;
    margin-top: 12%;
    position: absolute;
    opacity: 0.5;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: 0.1%;
}

.card.hidden {
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.card.prev {
    transform: translateX(10px); /* Ajusta según el ancho de la tarjeta */
    opacity: 0.3;
    z-index: 0;
}

.card.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

.card.next {
    transform: translateX(10px);
    opacity: 0.3;
    z-index: 0;
}
.button-container-card {
    position: absolute;
    bottom: 0%;
    right: 46%;
}
#prevButton:hover{
    background-color: #8ec0e4;
}
#nextButton:hover{
    background-color: #8ec0e4;
}
.card-img{
    width: 250px;
    height: 270px;
    border: solid black 1px;

}
.card-text h3{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}
.card-text p{
    color: black;
    font-size: 16px;
    margin-top: -19px;
    margin-bottom: 10px;
    text-align: justify;
    
}
.img-container {
    text-align: center;    
}
.img-container img{
    margin-bottom: 25px;
}
.buttom-in-card{
    background-color: #e6c345;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10%;
    font-size: 16px;
    
    
}
.buttom-in-card:hover{
    background-color: #facc27;
}
.buttom-box-card{
    text-align: center ; 
    background-color: white ;
    
    border: solid black 1px;
    border-radius: 10%;
    transition: transform 0.1s ease;
}
.more{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.buttom-box-card:hover{
    background-color: rgb(96, 167, 190);
    transform: scale(1.1)
}
.card-container {
    display: flex;
    overflow: hidden;
    position: relative;
}
.background4{
    grid-area: 4/1/5/-1;
    background-color: #000;
}
.background4 h1{
    text-align: center;
    color: wheat;
    
}











.footer-grid{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column: 2/-1;
    background-color: #427aa1;
    color: black;
    font-weight: bold;
    margin-top: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black 1px;
}
.footer-grid a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer-grid h2{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer-grid a:hover{
    color: black;
}
.footer-grid img:hover{
    opacity: 80%;
}