/* Style for the home page */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');


#content_home{
    max-width: 1600px;
    margin: 0 auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 560px;
    margin-top: -100px; 
}
#hero h1{
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    font-size: 90px;
}
header{   
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#logo{
    width: 40px;
    z-index: 1;

}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    z-index: 1;
}   
nav a{
    text-decoration: none;
    color: aliceblue;
}
nav a:nth-of-type(1){
    background-color: #e6c345;
    padding: 10px;
    border-radius: 5%;
    color: black;
    
}
nav:hover a {
    background-color: transparent;
    color: white;
}
nav a:hover{
    background-color: #e6c345;
    padding: 10px;
    color: black;
    border-radius: 5%;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(30, 100px);
    
}
#home_title{
    font-family:  Lato, Helvetica, Oswald 300;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    grid-column: 5/7;
}
.initial_images {
    grid-column: 2/ span 8;
    text-align: center;
    grid-row: 2 span 2;
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto;
}
#welcome{
    grid-column: 3/9;
    grid-row-start: 6; 
    align-items: center;
    margin-top: 50px;
    font-size: 25px;    
}
.map-adventures{
    grid-column: 3/ span 6;
    text-align: center;
    grid-row: 8/11;
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto;
    
}
.map-adventures p:nth-of-type(1){
    font-size: 25px; 
    grid-column-start: 3;
    text-align: center;
}
#famous-tours{
    grid-column: 4/8;
    grid-row-start: 14 ;
    text-align: center;
}
.bartolome-card{
    grid-column: 3/6;
    grid-row-start: 15 ;
    text-decoration: none;
}
.background-bartolome{
    background-color: #089dd9;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid black 1px;
    border-radius: 2%;
    transition: transform 0.1s ease;
}
.background-bartolome:hover{
    opacity: 80%;
    transform: scale(1.04)
}
.tour-360-card{
    grid-column: 6/9;
    grid-row-start: 15;
    margin-left: 15px;
    text-decoration: none;
    
}
.background-360{
    background-color: #e6c345;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    border: solid black 1px;
    border-radius: 2%;
    transition: transform 0.1s ease;
}
.background-360:hover{
    opacity: 80%;
    transform: scale(1.04)
}
.isabela-card{
    grid-column: 3/6;
    grid-row-start: 22 ;
    text-decoration: none;
    margin-top: 20px;
}
.background-isabela{
    background-color: #e6c345;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border: solid black 1px;
    border-radius: 2%;
    transition: transform 0.1s ease;
}
.background-isabela:hover{
    opacity: 80%;
    transform: scale(1.04)
}
.santa-fe-card{
    grid-column: 6/9;
    grid-row-start: 22;
    margin-left: 15px;
    text-decoration: none;
    margin-top: 20px;
}
.background-fe{
    background-color: #089dd9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border: solid black 1px;
    border-radius: 2%;
    transition: transform 0.1s ease;
}
.background-fe:hover{
    opacity: 80%;
    transform: scale(1.04)
}
.card-img{
    border: solid black 1px;
    width: 410px;
}
.title-card{
    color: aliceblue;
    font-size: 25px;
}
.p-card{
    color: black;
    font-size: 18px;
    margin: 0 9px;
}
.buttom-box{
    grid-row-start: 29;
    grid-column: 5/7;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: lightblue ;
    margin: 22px 100px;
    border: solid black 1px;
    border-radius: 10%;
    transition: transform 0.1s ease;
}
.more{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.buttom-box:hover{
    background-color: rgb(96, 167, 190);
    transform: scale(1.1)
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column: 2/9;
    background-color: #089dd9;
    color: black;
    
    margin-top: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #427aa1 1px;
}